extends layout

block content
	#skrollr-body.div

		<!-- http://ihatetomatoes.net/how-to-create-a-parallax-scrolling-website/#mab-10201 -->
		<section id="slide-1" class="homeSlide">
		<div class="bcg"  data-center="background-position: 50% 0px;" data-top-bottom="opacity: 1; background-position: 50% -100px;" data-anchor-target="#slide-1">
		<div class="hsContainer">
		<div class="hsContent" data-center="opacity: 1" data-106-top="opacity: 0" data-anchor-target="#slide-1 h2">
		
		opacidadeacima
			h2 Diego Silva Pires
			p Site pessoal de Diego Silva Pires. Desenvolvedor, pseudo-desenhista, aspirante de fotografia, atleta de fim de semana, poliglota e troglodita.
			br
			p Use o scroll para mais informações...

		</div>
		</div>
		</div>
		</section>

		<!-- HTML -->
		<section id="slide-2">
		<div class="bcg" data-anchor-target="#slide-2" data-bottom-top="opacity: 1; "">
		<div class="hsContainer">
		<div class="hsContent" data-center="opacity: 0" data-106-top="opacity: 1" data-anchor-target="#slide-2 h2">
		
		.container_12
			.grid_12
				h2 
					a(href='mailto:diego_silva_pires@outlook.com') diego_silva_pires@outlook.com

		
		.container_12
			.grid_6

				h3 Sobre mim

				p Tenho 24 anos, sou formado em Sistemas da Informação pela Faculdade Impacta, atualmente cursando Arquitetura de Sistemas pela FIAP, sou desenvolvedor web a 7 anos.

				p Tenho conhecimento na plataforma Microsoft .Net (e certificações), Ruby on Rails e Javascript, já atuei com bancos de dados SQL Server, Oracle e MySQL.

				p Outras tecnologias que já atuei incluem algumas bibliotecas e frameworks javascript como AngularJS, KnockoutJS, BackboneJS, JQuery e outras tranqueiras encontradas no Github. QlikView para BI. Dynamics CRM para CRM (duh!).

				p Falo atuamente três idiomas: Inglês e Francês em nível intermediário avançado (certificações a caminho) e Alemão bem básico.

				p Além de desenvolver eu também 
					a(href='http://diegosilvapires.deviantart.com/', target='_blank') desenho
					,&nbsp;
					a(href='http://flickr.com/photos/diegosilvapires', target='_blank') fotográfo
					,&nbsp;
					a(href='http://blog.diegopires.com.br', target='_blank') escrevo
					&nbsp; ou me arrebendo em algum esporte.

				br
				br
				p.disclaimer * Esse site vai funcionar como uma startup. É sabido que todas as primeiras versões de uma startup são sempre meio podres. Essa é a <strong>1ª versão</strong> desse site, logo, esse site esta bem <strong>podre</strong>.

			.grid_6
				h3 Experiência Profissional:
				h4 DigiSystem – Desenvolvedor Sênior – 04/2012 à atual
				p Desenvolvimento e manutenção de sistemas educacionais usando ASP.Net WebForm, JQuery, AngularJS, WebAPI e EntityFramework com VB.Net e C# 4.0. Criação e manutenção de bases de dados em SQL Server 2008 e Oracle.
				
				h4 F5 Agência Digital – Desenvolvedor Pleno - 04/2011 à 04/2012
				p Desenvolvedor back-end em sistes institucionais e e-commerce com a ferramenta Telerik SiteFinity, customizando e implementando novos módulos em ASP.Net 3.5. Manutenção de websites existentes com ASP.Net Framework 3.5, SQL Server 2008 e JQuery.

				h4 BigSolutions Tec. da Inf. Ltda – Desenvolvedor Pleno – 04/2008 à 04/2011
				p Desenvolvedor full-stack em projetos com ASP 3.0, ASP.Net 2.0 e 3.5, Javascript, SQL Server. Projetos em BI com a ferramenta QlikView e Reporting Service. Implantação de projetos usando Microsoft Dynamics CRM.

				h4 2Rios Agência Digital – Estagiário – 01/2007 à 04/2008
				p Desenvolvedor full-stack em CMS próprio com ASP 3.0, Javascript e SQL Server. Criação e gerenciamento de mailing e ferramenta de e-mail marketing.

		clear
		
		</div>
		</div>
		</div>
		</section>
