extends layout

block content
	#skrollr-body.div

		<!-- http://ihatetomatoes.net/how-to-create-a-parallax-scrolling-website/#mab-10201 -->
		
		nav 
			ul
				li
					a(href="#slide-1", data-menu-top="500") Eu
				li
					a(href="#slide-2", data-menu-top="500") Sobre mim
				li
					a(href="#slide-4", data-menu-top="500") Experiência
				li
					a(href="#slide-6", data-menu-top="500") Certificações
				li
					a(href="#slide-8", data-menu-top="500") Cursos
				li
					a(href="#slide-10", data-menu-top="500") Contato

		section#slide-1.homeSlide
			div.bcg(data-anchor-target="#slide-1")
				div.hsContainer
					div.hsContent.first(data-center="opacity: 1", data-bottom="opacity: 0" , data-anchor-target="#slide-1 h2")
					
						.caixa
							.opacidadeacima
							.textoacima
								h2 Diego Silva Pires
								p Analista desenvolvedor, pseudo-desenhista, aspirante de fotografia, atleta de fim de semana, poliglota e troglodita.
								br

								p.subtexto Role a página para baixo para mais informações ou use o menu do rodapé
								p.setabaixo ↓
		
		section#slide-2
			div.bcg(data-anchor-target="#slide-2")
				div.hsContainer
					div.hsContent(data-center="opacity: 0", data-106-top="opacity: 1", data-anchor-target="#slide-2 h2")
		
						h2 Sobre mim

						p Tenho 24 anos, sou formado em Sistemas da Informação pela Faculdade Impacta, atualmente cursando Arquitetura de Sistemas pela FIAP, sou desenvolvedor web a 7 anos.

						p Tenho conhecimento na plataforma Microsoft .Net (e certificações), Ruby on Rails e Javascript, já atuei com bancos de dados SQL Server, Oracle e MySQL.

						p Outras tecnologias que já atuei incluem algumas bibliotecas e frameworks javascript como AngularJS, KnockoutJS, BackboneJS, JQuery e outras tranqueiras encontradas no Github. QlikView para BI. Dynamics CRM para CRM (duh!).

						p Falo atuamente três idiomas: Inglês e Francês em nível intermediário avançado (certificações a caminho) e Alemão bem básico.

						p Além de desenvolver eu também 
							a(href='http://diegosilvapires.deviantart.com/', target='_blank') desenho
							,&nbsp;
							a(href='http://flickr.com/photos/diegosilvapires', target='_blank') fotográfo
							,&nbsp;
							a(href='http://blog.diegopires.com.br', target='_blank') escrevo
							&nbsp; e me arrebendo em alguns esporte.

		section#slide-3
			div.bcg(data-anchor-target="#slide-3")
				div.hsContainer
					div.hsContent

						h2.legenda 
							a(href='https://www.flickr.com/photos/diegosilvapires/8109958888/', target='_blank') Mixture
						

		section#slide-4
			div.bcg(data-anchor-target="#slide-4")
				div.hsContainer
					div.hsContent(data-center="opacity: 0", data-106-top="opacity: 1", data-anchor-target="#slide-4 h2")
						
						h2 Experiência Profissional:
						h4 DigiSystem – Desenvolvedor Sênior – 04/2012 à atual
						p Desenvolvimento e manutenção de sistemas educacionais usando ASP.Net WebForm, JQuery, AngularJS, WebAPI e EntityFramework com VB.Net e C# 4.0. Criação e manutenção de bases de dados em SQL Server 2008 e Oracle.
						
						h4 F5 Agência Digital – Desenvolvedor Pleno - 04/2011 à 04/2012
						p Desenvolvedor back-end em sistes institucionais e e-commerce com a ferramenta Telerik SiteFinity, customizando e implementando novos módulos em ASP.Net 3.5. Manutenção de websites existentes com ASP.Net Framework 3.5, SQL Server 2008 e JQuery.

						h4 BigSolutions Tec. da Inf. Ltda – Desenvolvedor Pleno – 04/2008 à 04/2011
						p Desenvolvedor full-stack em projetos com ASP 3.0, ASP.Net 2.0 e 3.5, Javascript, SQL Server. Projetos em BI com a ferramenta QlikView e Reporting Service. Implantação de projetos usando Microsoft Dynamics CRM.

						h4 2Rios Agência Digital – Estagiário – 01/2007 à 04/2008
						p Desenvolvedor full-stack em CMS próprio com ASP 3.0, Javascript e SQL Server. Criação e gerenciamento de mailing e ferramenta de e-mail marketing.
						br
						br
						br

		section#slide-5
			div.bcg(data-anchor-target="#slide-5")
				div.hsContainer
					div.hsContent
						h2.legenda 
							a(href='https://www.flickr.com/photos/diegosilvapires/8255594803/', target='_blank') Lights in the street 2

		section#slide-6
			div.bcg(data-anchor-target="#slide-6")
				div.hsContainer
					div.hsContent(data-center="opacity: 0", data-106-top="opacity: 1", data-anchor-target="#slide-6 h2")

						h2 Certificações 
						h3 Microsoft
						p 70 486 - Developing ASP.NET MVC 4.5 Web Applications
						p 70 480 - Programming in HTML5 with JavaScript and CSS3
						p 70 515 - TS: Web Applications Development with Microsoft .NET Framework 4
						p 70 562 - TS: Microsoft .NET Framework 3.5, ASP.NET Application Development
						br
						br
						br

		section#slide-7
			div.bcg(data-anchor-target="#slide-7")
				div.hsContainer
					div.hsContent
						h2.legenda 
							a(href='https://www.flickr.com/photos/diegosilvapires/7963130296/', target='_blank') O dono da torre

		section#slide-8
			div.bcg(data-anchor-target="#slide-8")
				div.hsContainer
					div.hsContent(data-center="opacity: 0", data-106-top="opacity: 1", data-anchor-target="#slide-8 h2")

						h2 Cursos
						h3 Caelum
						p RR 71 - Desenvolvimento ágil para web com Ruby on Rails 3 - 11/2013
						p RR 75 - Ruby e Rails avançados: lidando com problemas do dia a dia - 11/2013
						
						h3 Fundação Carlos Alberto Vanzolini
						p Capacitação em Análise de Negócios – BABok 2.0 – 99 horas - Concluído
						
						h3 Toccato Tecnologia 
						p QlikView Professional Layout - 12/2009

						h3 Brás Figueiredo, Cursos Oficiais Microsoft
						p 6463 - Visual Studio 2008 ASP. NET 3.5 – 08/2009
						p 2957 - Advanced Foundations of Microsoft .NET 2.0 Development – 07/2009
						p 2956 - Core Foundations of Microsoft. NET 2.0 Development – 07/2009
						p 2544 - Advanced Web Application Technologies with Microsoft Visual p Studio 2005 – 03/2009
						p 2310 - Developing Microsoft ASP.NET Web Applications Using Visual Studio.NET – 10/2008
						br
						br
						br

		section#slide-9
			div.bcg(data-anchor-target="#slide-7")
				div.hsContainer
					div.hsContent
						h2.legenda 
							a(href='https://www.flickr.com/photos/diegosilvapires/7963130296/', target='_blank') Home sweet home

		section#slide-10
			div.bcg(data-anchor-target="#slide-8")
				div.hsContainer
					div.hsContent(data-center="opacity: 0", data-106-top="opacity: 1", data-anchor-target="#slide-8 h2")

						h2 Contatos
						ul
							li 
								i.fa.fa-envelope-o &nbsp;
								a(href='mailto:diego_silva_pires@outlook.com', target='_blank') diego_silva_pires@outlook.com
							li 
								i.fa.fa-book &nbsp;
								a(href='http://blog.diegopires.com.br', target='_blank') Blog
							li 
								i.fa.fa-linkedin &nbsp;
								a(href='http://www.linkedin.com/profile/view?id=67345762', target='_blank') Linkedin
							li
								i.fa.fa-github &nbsp;
								a(href='https://github.com/DiegoPires/', target='_blank') Github
							li 
								i.fa.fa-picture-o &nbsp;
								a(href='http://diegosilvapires.deviantart.com/', target='_blank') Deviantart
							li 
								i.fa.fa-flickr &nbsp;
								a(href='http://flickr.com/photos/diegosilvapires', target='_blank') Flickr
						br
						br