
* { font-family: ‘Metrophobic’, Arial, serif; font-weight: 400; }
/* 
 _____   _           _         _                        _                  
|_   _| | |         | |       | |                      | |                 
  | |   | |__   __ _| |_ ___  | |_ ___  _ __ ___   __ _| |_ ___   ___  ___ 
  | |   | '_ \ / _` | __/ _ \ | __/ _ \| '_ ` _ \ / _` | __/ _ \ / _ \/ __|
 _| |_  | | | | (_| | ||  __/ | || (_) | | | | | | (_| | || (_) |  __/\__ \
 \___/  |_| |_|\__,_|\__\___|  \__\___/|_| |_| |_|\__,_|\__\___/ \___||___/

Oh nice, welcome to the stylesheet of dreams. 
It has it all. Classes, ID's, comments...the whole lot:)
Enjoy responsibly!
@ihatetomatoes

*/
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body, html {
	height: 100%;
	min-height: 100%;
	background-color: #000000;
}
body {
	
}
.no-js {
	padding-top: 106px;
}
h2 {
	margin-top: 0;
}
.loading {
	background: url('/images/ico_loading.gif') no-repeat center center;
}
section {
	opacity: 0;
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
main {
	overflow-x: hidden;
}

.bcg-mask-principal
{
    background-image: url('/images/dotted-background.png');
    position: absolute;
    
    height: 100%;
    width: 100%;
    z-index: 2;
}

.bcg-mask
{
    /*background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=);*/
    background-image: url('/images/dotted-background.png');
    position: absolute;
    
    height: 120px;
    width: 100%;
    z-index: 2;
}

.bcg {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
    z-index: 1;
}
/* Slide 1 */
#div-eu .bcg {
    background-image:url('https://farm8.staticflickr.com/7238/7003009970_abca273a26.jpg');
}

/* Slide 2 */
#div-sobre-min .bcg {
    background: none;
    height: 450px;
}

/* Slide 3 */
#slide-3 .bcg {
    background-image:url('https://farm9.staticflickr.com/8465/8109958888_a2e32a3202.jpg');
    height: 120px;
}

#div-experiencia .bcg, #div-certificacoes .bcg, #div-cursos .bcg, #div-contato .bcg
{
    background: none;
}

#slide-5 .bcg {
    background-image:url('https://farm9.staticflickr.com/8082/8255594803_40c31848a9.jpg');
    height: 120px;
}

#slide-7 .bcg {
    background-image:url('https://farm9.staticflickr.com/8030/7963130296_1a853ff0bc.jpg');
    height: 120px;
}

#slide-9 .bcg {
    background-image:url('https://farm9.staticflickr.com/8024/7433734332_b87a6e3f53.jpg');
    height: 120px;
}

#div-contato ul
{
    text-decoration: none;
    list-style-type: none;
}

nav
{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 103;
    background-color: #111;
    opacity: 0.8;
    width: 100%
}

nav ul{
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: box;
}

nav ul li
{
    list-style: none;
    list-style:none;
    text-align: center;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

nav ul a
{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
}

h2.legenda
{
    text-align: right;
    font-size: 20px !important;
    font-weight: bold;
    background-color: #000;
    opacity: 0.7;
    margin: 10px 20px;
    padding: 5px 25px;
    color: #fff;
    position: absolute;
    z-index: 3;
}
h2.legenda a
{
    text-decoration: none;
    color: #fff;
}

.opacidadeacima
{
    text-align: center;
    opacity: 0.8;
    background-color: black;
    padding: 51px;
    z-index: 1;
    position: absolute;
    width: 350px;
    height: 150px;
    top: -40px;
}

.caixa
{
    max-width: 450px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}

.textoacima
{
    z-index: 3;
    position: relative;
    text-align: center;
}

.first
{
    top: 25%;
position: relative;
}

.subtexto
{
    font-size: 12px;
}

.setabaixo
{
    color:#ffffff;
    font-size: 30px;
    line-height: normal;
    top: -50px;
}

.carrossel
{
    width: 100%;
}

.carrossel div.imagem
{
    padding: 10px;
    float: left;
}

.carrossel div.previous, div.next
{
    margin:10px 0px;
    padding: 60px 2px;
    float: left;
    background-color: #747474;
    color: #000;
}

.spacermaluco
{
    height: 200px;
}

.hsContainer {
	/* display: table;
	table-layout: fixed; */
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
    padding-top: 50px;
}

.hsContent {
	
	/*margin: -150px auto 0 auto;
	display: table-cell; */
	vertical-align: middle;
	color: #ebebeb;
	padding: 0 8%;
	/* text-align: center; */
}
	.hsContent h2,
	.copy h2 {
		color: #ffffff;
		font-size: 45px;
		line-height: 48px;
		margin-bottom: 12px;
	}
	.hsContent p {
		margin: 0 auto;
		color: #b2b2b2;
	}
	.hsContent a {
		color: #b2b2b2;
		text-decoration: underline;
	}
	.bgBlack {
		background-color: rgba(0,0,0,0.75);
		padding: 3px 10px;
	}

     #div-sobre-min
     {
        padding-top:30px;
     }

     #div-sobre-min h3
     {text-align: left;}

#div-sobre-min h4
{
    margin: 10px 0px 0px 0px;
    font-weight: bold;
    font-size: 14px;
}

#div-sobre-min h2
{
    text-align: left;
}

#div-sobre-min a
{
    /* text-decoration: none; */
}

.disclaimer
{
    font-color: #6E6E6E;
}

#div-sobre-min h3
{
    margin: 0px;
    padding: 0px;
}

    #div-sobre-min .container_12
    {
        text-align: left;

    }
    #div-sobre-min p
    {
        width: auto;
        margin: 0px 0px 10px 0px;
    }


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
